html {
  height: 100%;
}

body {
  height:100%;
    background-image: url("img/light-bg1.png");
  text-align: center;
}

.title {
  font-size: 5em;
  color: red;
}

.play {
  padding: 1em 0;
}

.btn{
  font-size: inherit;
  color: white;
  background-color: purple;
  text-decoration: none;
  padding: 1em 2em 0.5em 0.5m;
  margin-bottom: 1.5em;
  display: inline block;
}

.guess{
  font size: 20em;
  display: block;
  margin: 0 auto;
}

.trophy{
  height: 400px;
}
